---
# Imports

In [1]:
# current filepath system leaves plenty to be desired
import sys
local_path = '/Users/hinzlehome/codeup-data-science/spark-exercises/'
sys.path.insert(0, local_path)

# imports.py in /utils/
from utils.imports import *

# plotting magic
%matplotlib inline
# plotting defaults
plt.rc('figure', figsize=(16, 9))
plt.style.use('seaborn-darkgrid')
plt.rc('font', size=16)
# plt.style.available
# ^^^ show available seaborn styles

# !!! Warning !!! 
# *** no more warnings ***
# import warnings
# warnings.filterwarnings("ignore")

# custom mods
# from utils.tidy import *
# from utils.model import *

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

---
# Spark API Mini Exercises

Copy the code below to create a pandas dataframe with 20 rows and 3 columns:

In [2]:


np.random.seed(13)

pandas_dataframe = pd.DataFrame(
    {
        "n": np.random.randn(20),
        "group": np.random.choice(list("xyz"), 20),
        "abool": np.random.choice([True, False], 20),
    }
)

In [3]:
spark = pyspark.sql.SparkSession.builder.getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/anaconda3/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/05/19 11:08:18 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable


1. Spark Dataframe Basics

    1. Use the starter code above to create a pandas dataframe.
    1. Convert the pandas dataframe to a spark dataframe. From this point
       forward, do all of your work with the spark dataframe, not the pandas
       dataframe.
    1. Show the first 3 rows of the dataframe.
    1. Show the first 7 rows of the dataframe.

In [4]:
df = spark.createDataFrame(pandas_dataframe)
df

DataFrame[n: double, group: string, abool: boolean]

In [5]:
spark.range(5).show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+

In [6]:
df.show(3)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
+--------------------+-----+-----+
only showing top 3 rows


2. What is the difference between `.show` and `.head`?

In [7]:
df.show

In [8]:
df.head()

Row(n=-0.712390662050588, group='z', abool=False)

3. View a summary of the data using `.describe`.

In [11]:
df.describe()

DataFrame[summary: string, n: string, group: string]

4. Use `.select` to create a new dataframe with just the `n` and `abool`
   columns. View the first 5 rows of this dataframe.

In [15]:
df.select('n','abool').show(5)

+--------------------+-----+
|                   n|abool|
+--------------------+-----+
|  -0.712390662050588|false|
|   0.753766378659703|false|
|-0.04450307833805...|false|
| 0.45181233874578974|false|
|  1.3451017084510097|false|
+--------------------+-----+
only showing top 5 rows

5. Use `.select` to create a new dataframe with just the `group` and `abool`
   columns. View the first 5 rows of this dataframe.

In [16]:
df.select('group','abool').show(5)

+-----+-----+
|group|abool|
+-----+-----+
|    z|false|
|    x|false|
|    z|false|
|    y|false|
|    z|false|
+-----+-----+
only showing top 5 rows

6. Use `.select` to create a new dataframe with the `group` column and the
   `abool` column renamed to `a_boolean_value`. Show the first 3 rows of
   this dataframe.
7. Use `.select` to create a new dataframe with the `group` column and the
   `n` column renamed to `a_numeric_value`. Show the first 6 rows of this
   dataframe.

2. Column Manipulation

    1. Use the starter code above to re-create a spark dataframe. Store the
       spark dataframe in a varaible named `df`

    2. Use `.select` to add 4 to the `n` column. Show the results.

    3. Subtract 5 from the `n` column and view the results.

    4. Multiply the `n` column by 2. View the results along with the original
       numbers.

    5. Add a new column named `n2` that is the `n` value multiplied by -1. Show
       the first 4 rows of your dataframe. You should see the original `n` value
       as well as `n2`.

    6. Add a new column named `n3` that is the n value squared. Show the first 5
       rows of your dataframe. You should see both `n`, `n2`, and `n3`.

    7. What happens when you run the code below?

        ```python
        df.group + df.abool
        ```

    8. What happens when you run the code below? What is the difference between
       this and the previous code sample?

        ```python
        df.select(df.group + df.abool)
        ```

    9. Try adding various other columns together. What are the results of
       combining the different data types?

3. Type casting

    1. Use the starter code above to re-create a spark dataframe.

    2. Use `.printSchema` to view the datatypes in your dataframe.

    3. Use `.dtypes` to view the datatypes in your dataframe.

    4. What is the difference between the two code samples below?

        ```python
        df.abool.cast('int')
        ```

        ```python
        df.select(df.abool.cast('int')).show()
        ```

    5. Use `.select` and `.cast` to convert the `abool` column to an integer
       type. View the results.
    6. Convert the `group` column to a integer data type and view the results.
       What happens?
    7. Convert the `n` column to a integer data type and view the results. What
       happens?
    8. Convert the `abool` column to a string data type and view the results.
       What happens?

4. Built-in Functions

    1. Use the starter code above to re-create a spark dataframe.
    2. Import the necessary functions from `pyspark.sql.functions`
    3. Find the highest `n` value.
    4. Find the lowest `n` value.
    5. Find the average `n` value.
    6. Use `concat` to change the `group` column to say, e.g. "Group: x" or
       "Group: y"
    7. Use `concat` to combine the `n` and `group` columns to produce results
       that look like this: "x: -1.432" or "z: 2.352"

5. When / Otherwise

    1. Use the starter code above to re-create a spark dataframe.
    2. Use `when` and `.otherwise` to create a column that contains the text "It
       is true" when `abool` is true and "It is false"" when `abool` is false.
    3. Create a column that contains 0 if n is less than 0, otherwise, the
       original n value.

6. Filter / Where

    1. Use the starter code above to re-create a spark dataframe.
    2. Use `.filter` or `.where` to select just the rows where the group is `y`
       and view the results.
    3. Select just the columns where the `abool` column is false and view the
       results.
    4. Find the columns where the `group` column is *not* `y`.
    5. Find the columns where `n` is positive.
    6. Find the columns where `abool` is true and the `group` column is `z`.
    7. Find the columns where `abool` is true or the `group` column is `z`.
    8. Find the columns where `abool` is false and `n` is less than 1
    9. Find the columns where `abool` is false or `n` is less than 1

7. Sorting

    1. Use the starter code above to re-create a spark dataframe.
    2. Sort by the `n` value.
    3. Sort by the `group` value, both ascending and descending.
    4. Sort by the group value first, then, within each group, sort by `n`
       value.
    5. Sort by `abool`, `group`, and `n`. Does it matter in what order you
       specify the columns when sorting?

8. Aggregating

    1. What is the average `n` value for each group in the `group` column?
    2. What is the maximum `n` value for each group in the `group` column?
    3. What is the minimum `n` value by `abool`?
    4. What is the average `n` value for each unique combination of the `group`
       and `abool` column?

9.  Spark SQL

    1. Use the starter code above to re-create a spark dataframe.
    2. Turn your dataframe into a table that can be queried with spark SQL. Name
       the table `my_df`. Answer the rest of the questions in this section with
       a spark sql query (`spark.sql`) against `my_df`. After each step, view
       the first 7 records from the dataframe.
    3. What happens if you make a SQL syntax error in your query?
    4. Write a query that shows all of the columns from your dataframe.
    5. Write a query that shows just the `n` and `abool` columns from the
       dataframe.
    6. Write a query that shows just the `n` and `group` columns. Rename the
       `group` column to `g`.
    7. Write a query that selects `n`, and creates two new columns: `n2`, the
       original `n` values halved, and `n3`: the original n values minus 1.